<div class="container">
  <h3 class="custom-title">Your order</h3>
  <hr>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Customer name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Items</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> <%= @order.user.name %> </td>
      <td> <%= @order.address %> </td>
      <td> <%= @order.phone_number %> </td>
      <td>
        <%- OrderProduct.where(order_id: @order.id).each do |order_product| %>
          <%= Product.find(order_product.product_id).name %>
          <%= order_product.quantity %>
        <% end %>
      </td>
      <td>
        <% if @order.handled == false %>
          <p>Still processing</p>
        <% else %>
          <p>Order processed</p>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
